In [28]:
print("Analyse de mes 4 fruits préférés")
#j'identifie de quoi je parle
Fruits=["Ananas","Nectarine","Framboise","Mangue"]

Analyse de mes 4 fruits préférés

In [29]:
#je créer ma liste de prix
Prix=[2.99,3.50,2.50,4.20]

In [30]:
#Il me reste la quantité que je vends à déterminée
Quantité=[40,70,20,35]

In [31]:
#j'ordonne a la machine d'afficher mes variables
print(f"Mes Fruits : {Fruits}")
print(f"Mes prix : {Prix}")
print(f"Mes quantité : {Quantité}")

Mes Fruits : ['Ananas', 'Nectarine', 'Framboise', 'Mangue']
Mes prix : [2.99, 3.5, 2.5, 4.2]
Mes quantité : [40, 70, 20, 35]

In [32]:
#maintenant on va calculer les chiffre d'affaire de notre primeur pour cela on va multiplier la quantité par le nombre de kilo vendu par mois 
ca_Ananas = Prix[0] * Quantité[0]
ca_Nectarine = Prix[1] * Quantité[1]
ca_Framboise = Prix[2] * Quantité[2]
ca_Mangue = Prix [3] * Quantité [3]

In [33]:
#on calcul donc maintenant le ca total
ca_total = ca_Ananas + ca_Nectarine + ca_Framboise + ca_Mangue

In [40]:
# on doit maintenant savoir quel fruit noud rapporte le plus en terme de ca

if  ca_Ananas > ca_Nectarine > ca_Mangue and ca_Ananas > ca_Mangue > ca_Nectarine:
    fruit_top = "Ananas"
elif  ca_Nectarine > ca_Ananas >ca_Mangue and ca_Nectarine > ca_Mangue > ca_Ananas :
    fruit_top = " Nectarine"
elif ca_Mangue > ca_Framboise :
    fruit_top = "Mangue"
else : fruit_top = " Framboise"

In [41]:
#Ensuite on va s'occuper d'afficher le chiffre d'affaire de chaque fruit
print(f"Chiffre d'affaire de l'Ananas : {ca_Ananas}€")
print(f"Chiffre d'affaires de la Nectarine : {ca_Nectarine}€")
print(f"Chiffre d'affaires de la Framboise : {ca_Framboise}€")
print(f"Chiffre d'affaires de la Mangue : {ca_Mangue}€")

Chiffre d'affaire de l'Ananas : 119.60000000000001€
Chiffre d'affaires de la Nectarine : 245.0€
Chiffre d'affaires de la Framboise : 50.0€
Chiffre d'affaires de la Mangue : 147.0€

In [42]:
#maintenant j'affiche le chiffre d'affaire total
print(f"Chiffre d'affaires total : {ca_total}€")

Chiffre d'affaires total : 561.6€

In [43]:
#Enfin le fruit numéro 1 dans les ventes
print(f"Le fruit le plus vendu : {fruit_top}.")

Le fruit le plus vendu : Mangue.